
.filters {
    margin-top: 50px;
    margin-bottom: 62px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.main-filter {
    max-width: 360px;
    position: relative;
    margin-right: 30px;
    z-index: 1;
}

.filter-button {
    display: block;
    padding: 13px 16px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #000;
    min-width: 360px;
}

#filter-menu {display: none;}


.filter__box ~ .filter-button input:checked {
    display: none;
}


.filter-button span {
    font-size: 14px;
    margin-right: 11px;
}

.filter__box {
    display: none;
    padding: 0 16px 13px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 5px 25px 25px rgba(0, 0, 0, 0.2);
}

#filter-menu:checked ~ .filter__box {
    display: flex;
    flex-direction: column;
}
#filter-menu:checked ~ .filter-button {
    box-shadow: 5px 25px 25px rgba(0, 0, 0, 0.2);
    color: #EF5B70;
}
#filter-menu:checked
~ .filter-button
svg path {fill: #EF5B70; }


details > summary {
    list-style: none;
}

.filter__box details {
    width: 100%;
    color: #6F6E6E;
    cursor: pointer;
}

.filter__box details:not(:last-child) {
    margin-bottom: 18px;
}
.filter__box details[open] summary {
    color: #EF5B70;
}
.filter__box details summary {
    padding: 11px;
    border-left: 5px solid #EF5B70;
    border-bottom: 2px solid #EBEBEB;
}
.filter__box details ul {
    padding-inline-start: 17px;
}
.filter__box details ul li {
    list-style-type: none;
}
.filter__box details ul li:not(:last-child) {
    margin-bottom: 11px;
}


.filter-group {
    display: flex;
}
.filter {
    margin-left: 28px;
    position: relative;
}
.caption {
    display: flex;
    color: #6F6E6E;
    font-size: 14px;
    cursor: pointer;
}
.caption img {
    margin-left: 10px;
}

.filter-content {
    padding: 10px;
    background-color: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.11);
    position: absolute;
    left: -10px;
    top: 25px;
    min-width: 70px;
    display: none;
    z-index: 1;
}

.filter:hover > .filter-content {
    display: block;
}

.filter-content ul {
    padding-inline-start: 0;
    margin: 0;
}
.filter-content ul li {
    list-style-type: none;
    color: #6F6E6E;
    margin-bottom: 6px;
}
.filter-content ul li label span {
    margin-left: 10px;
}



.pages__container {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}
.pages {
    display: flex;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.pagination {
    margin: 0 18px;
}
.pagination a:not(:last-child) {
    margin-right: 20px;
}
.pagination a {
    color: #C4C4C4;
    font-weight: 200;
    text-decoration: none;
}

.pagination a.active {
    color: #F16D7F;
}
