@import "mixins";

@media (max-width: 868px) {
    .container {
        max-width: 768px;
    }
    .header__container {
        padding: 0 32px;
    }
    .promo {
        margin: 0 0 20px 0;
        &__container {
            min-height: 368px;
            background-position: left bottom;
            background-size: 386px;
        }
        &__text {
            max-width: 283px;
            width: 50%;
            margin-right: 33px;
            h1 {
                @include font(37px, #222, 900);
            }
            span {
                @include font(24px, #222);
            }
        }

    }
    .offer {
        &__container {
            gap: 20px;
            margin-bottom: 154px;
        }
        &__card {

            &:not(:last-child) {
                width: 30%;
                min-height: 168px;
            }
            &:last-child {
                width: 100%;
                min-height: 116px;
            }
            h2 {
                font-weight: 700;
            }
        }
    }
    .subtitle {
        margin-bottom: 72px;
    }
    .shop {
        &__items {
            gap: 16px;
            margin-bottom: 32px;
        }
    }
    .button__container {
        margin-bottom: 65px;
    }
    .features__container {
        @include flex(center, column, space-evenly) {
            gap: 48px;
        }
        padding: 48px 0 64px;
    }
    .feature {
        &__container {
            padding: 0;
        }
    }
    .footer {
        &__top {
            padding: 64px 0 140px;
            &-container {
                @include flex(center, column) {
                    gap: 48px;
                }
            }
        }
    }
    .main__container {
        @include flex(flex-start, column);
    }
    // catalog tablet
    .filters {
        margin-top: 24px;
        margin-bottom: 40px;
        justify-content: space-between;
    }
    // cart tablet
    .cart__order {
        @include flex(space-between, row) {
            gap: 15px;
        }
        margin-top: 64px;
        width: 100%;
        &-form {
            width: 50%;
        }
    }
    .cart__container {
        width: 100%;
        align-items: stretch;
    }
}
