@import "../mixins";

.header {
    background-color: #222222;
    padding: 18px 0 19px 0;
    &__container {
        @include flex(space-between);
    }
    &__logo {
        margin: 0 41px 0 0;
    }
    &__right {
        @include flex;
    }
    &__nav {
        a:not(:last-child) {
            margin: 0 33px 0 0;
        }
    }
}
